<nav class="navbar navbar-expand-lg sticky-top shadow-sm py-3 con" style="background: #fff;">
  <div class="container-fluid d-flex  align-items-center justify-content-between">

    <!-- Big Logo -->
    <a class="navbar-brand me-4 navbar-logo" href="/listings">
      <img src="/images/logo.png" alt="Brand Logo" style="height: 100px; width: 150px;">
    </a>

    <!-- Navbar center -->
    <div class="d-flex align-items-center w-100 justify-content-between">
      <!-- Left Links -->
      <ul class="navbar-nav flex-row align-items-center">
        <li class="nav-item me-4">
          <a class="nav-link fw-semibold text-dark allitems" href="/listings">All Items</a>
        </li>
      </ul>

      <!-- Search Bar Center -->
      <form class="d-flex search mx-4 serch" role="search" action="/search" method="GET">
        <input class="form-control rounded-pill px-3" type="search" placeholder="Search for items..." name="query">
       
      </form>


      <!-- Right Icons -->
      <ul class="navbar-nav flex-row align-items-center">
        <!-- Cart -->
        <li class="nav-item position-relative me-4">
          <a href="/cart" class="text-dark fs-5">
            <i class="fa-solid fa-cart-shopping me-1"></i>
            <span class="cart-text">   View Your Cart</span>
            <% if (typeof cartCount !== 'undefined' && cartCount > 0) { %>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                <%= cartCount %>
              </span>
            <% } %>
          </a>
        </li>

        <!-- Favorites -->
     
        <li class="nav-item">
          <a class="nav-link custom-nav-link fa-heart1" href="#" id="favoritesBtn1">
            <i class="fa-solid fa-heart"></i>
           
          </a>
      </li>
        <!-- User Icon -->
        <li class="nav-item dropdown  fa-userr">
          <a class="nav-link dropdown-toggle text-dark fs-5" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow drop" aria-labelledby="userDropdown">
            <% if (!currentUser) { %>
              <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
              <li><a class="dropdown-item" href="/login">Login</a></li>
            <% } else { %>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
              <% if (["faisalmotiwala", "karim", "habibro123"].includes(currentUser.username)) { %>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/listings/new">Create Item</a></li>
                <li><a class="dropdown-item" href="/users">All Users</a></li>
                <li><a class="dropdown-item" href="/orders">Orders
                  <% if (pendingOrders > 0) { %>
                    <span class="badge bg-danger ms-1"><%= pendingOrders %></span>
                  <% } %>
                </a></li>
              <% } %>
            <% } %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

