<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img  src="https://res.cloudinary.com/dzp0yscrc/image/upload/v1743678654/slide_s6sqa1.png" class="d-block w-10 slide1" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://res.cloudinary.com/dzp0yscrc/image/upload/v1743678655/slide2_t9kltm.png" class="d-block w-10 slide1" alt="...">
      </div>
   
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
