@media (max-width: 500px) {
   
    
    .navbar-logo {
        width: 100px; /* logo چھوٹا ہوگیا */
    }

    /* Parent container کو fix رکھو */
   .con{
    height: 200px;
   }
     .navbar-logo {
        width: 2vh; /* صرف logo چھوٹا ہوگا */
        position: absolute;
        top: 1vh;
    }

    .fa-cart-shopping{
       /* margin-top: 5px; */
       /* position: absolute; */
       display: flex;
       font-size: small;
       left: 1px;
       margin-left: 50px;
       display: none;
    }
    .cart-text {
        display: inline;
        position: absolute;
        top: -3vh;
        left: -18vh;
        white-space: nowrap;
      }
    
    .fa-heart{
        position: absolute;
        top: 6.5vh;
        left: 205px;

    }
    .fa-userr{
        position: absolute;
        top: 4vh;
        left: 35vh;


    }
    .drop{
        position: absolute;
        top: 88;
    }
    .allitems{
        width: 200px;
        position: absolute;
        top: 22vh;
        left: -9vh;
    }
    .serch{
        position: absolute;
        width: 250px;
        top: 22vh;
        left: 10vh;
    }
}


  